Pandas is built on numpy, 
It has dataframes and dataseries
Pandas is data analysis library
We can manage clean analyze, model and plot  the data
There are 2 DS in pandas 
1. Series -1D array
2. DataFrame -2D array
pd is alias for pandas

In [166]:
import pandas as pd
import statistics as st
import numpy as np

In [167]:
# Example 1
obj=pd.Series(['NJ','CA','ND','OH'])
obj

0    NJ
1    CA
2    ND
3    OH
dtype: object

In [168]:
obj.values

array(['NJ', 'CA', 'ND', 'OH'], dtype=object)

In [169]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [170]:
# Example 2
obj2=pd.Series([1,2,3,4])
obj2

0    1
1    2
2    3
3    4
dtype: int64

In [171]:
obj2.values

array([1, 2, 3, 4], dtype=int64)

In [172]:
obj2.index

RangeIndex(start=0, stop=4, step=1)

In [173]:
# Create Index of my own choice
obj3=pd.Series([1,2,3,4],index=['d','c','b','a'])

In [174]:
obj3

d    1
c    2
b    3
a    4
dtype: int64

In [175]:
obj3['c']
# loc refers to label index
# iloc refers to positional index

2

In [176]:
colors=pd.Series(['red','purple','blue'],index=[1,2,3])
colors[1]

'red'

In [177]:
colors.loc[1]

'red'

In [178]:
colors.iloc[1]

'purple'

In [179]:
# Slicing
colors.loc[1:2]

1       red
2    purple
dtype: object

In [180]:
colors.iloc[1:2]

2    purple
dtype: object

In [181]:
colors.iloc[-2]

'purple'

In [182]:
ser=pd.Series(range(4),index=list('abad'))
res=ser['a']
# index items do not have to be unique
# series index can be alteres

In [183]:
res

a    0
a    2
dtype: int64

In [184]:
ser.index=(['a','b','c','d'])
ser

a    0
b    1
c    2
d    3
dtype: int64

In [185]:
ser>1

a    False
b    False
c     True
d     True
dtype: bool

In [186]:
ser<1

a     True
b    False
c    False
d    False
dtype: bool

In [187]:
ser*2

a    0
b    2
c    4
d    6
dtype: int64

In [188]:
data={'Ohio':3000,'Texas':2000,'Utah':5000} #Converting Dictionary to Pandas Series
obj4=pd.Series(data)
# Keys will become index

In [189]:
obj4

Ohio     3000
Texas    2000
Utah     5000
dtype: int64

In [190]:
# Pandas can accomodate incomplete data
# DataFrame has ordered collection of rows and columns
per=[['Alex',10],['Bob',20],['Clark',30]] #dtype=float gives float values
df=pd.DataFrame(per,columns=['Name','Age'])

In [191]:
df

    Name  Age
0   Alex   10
1    Bob   20
2  Clark   30

In [192]:
nm=[['Alex',10],['Bob',20],['Clark',30]] #dtype=float gives float values
# df2=pd.DataFrame(nm,columns=['Name','Age'],dtype=float)
# df2

In [193]:
# Create DF from dictionaries
# Keys are taken as column names
state={'state':['GJ','RJ','MH'],
      'year':[2017,2018,2019],
      'pop':[10.2,11.2,36.2]}
df2=pd.DataFrame(state)
df2

  state  year   pop
0    GJ  2017  10.2
1    RJ  2018  11.2
2    MH  2019  36.2

In [194]:
# Loading Data from csv file 
mydf=pd.read_csv('weather.csv')
print('Printing Columns:')
for col in mydf.columns:
    print(col) #can apply sorting on columns

Printing Columns:
Year
Month
Tmax
Tmin
Rain

In [195]:
print("Printing Data")
print(mydf)

Printing Data
    Year  Month    Tmax  Tmin   Rain
0   2018      1   26.50   3.2   0.00
1   2018      2   29.80   9.9   0.00
2   2018      3   35.10  32.6   0.00
3   2018      4   29.60  23.6   0.00
4   2018      5    3.10   2.0   0.00
5   2018      6   56.10  32.6   0.00
6   2018      7  256.10  65.2  23.50
7   2018      8   56.10  24.2  25.36
8   2018      9   32.10  26.1  25.30
9   2018     10   23.10   3.2   0.00
10  2018     11   32.50   2.0   0.00
11  2018     12   23.56  13.5   0.00

In [196]:
# If CSV doesn't have header we have to add headers:
# header=['year','months']

In [197]:
# We can specify index of our own by specifying a columns
# new=pd.read_csv('weather.csv',index_col='month')
# print(new)

In [198]:
# We can specify the position of columns as well

1. head() -gives 1st 5records
2. tail() -gives last 5 records
3. shape -gives dimension of data

In [199]:
print(mydf.head())

   Year  Month  Tmax  Tmin  Rain
0  2018      1  26.5   3.2   0.0
1  2018      2  29.8   9.9   0.0
2  2018      3  35.1  32.6   0.0
3  2018      4  29.6  23.6   0.0
4  2018      5   3.1   2.0   0.0

In [200]:
print(mydf.tail())

    Year  Month   Tmax  Tmin   Rain
7   2018      8  56.10  24.2  25.36
8   2018      9  32.10  26.1  25.30
9   2018     10  23.10   3.2   0.00
10  2018     11  32.50   2.0   0.00
11  2018     12  23.56  13.5   0.00

In [201]:
print(mydf.shape)

(12, 5)

In [202]:
new_data=mydf[mydf['Tmax']>35] 
print(new_data)

   Year  Month   Tmax  Tmin   Rain
2  2018      3   35.1  32.6   0.00
5  2018      6   56.1  32.6   0.00
6  2018      7  256.1  65.2  23.50
7  2018      8   56.1  24.2  25.36

In [203]:
mydf['Tmax']>35 #return boolean

0     False
1     False
2      True
3     False
4     False
5      True
6      True
7      True
8     False
9     False
10    False
11    False
Name: Tmax, dtype: bool

In [204]:
# ew=mydf[mydf['Tmax']>35 & mydf['Rain']>0]

In [205]:
# print(ew)

In [206]:
rain=mydf['Rain']

In [207]:
max=rain.max()

In [208]:
max

25.36

In [209]:
min=rain.min()

In [210]:
min

0.0

In [211]:
sum=rain.sum()

In [212]:
sum

74.16

In [213]:
# groupby function
# check missing values : isNull() and notNull()
# df.bfill() and df.ffill()
# df.fillna(0)
# dropna() drops the rows having empty values
# df.duplicated()
# Create a program to do min max normalization
# Create a program for z score normalization

In [214]:
nor_rain=mydf['Rain'].to_numpy()

In [215]:
nor_min=nor_rain.min()
nor_min

0.0

In [216]:
nor_max=nor_rain.max()
nor_max

25.36

In [217]:
new_min=0
new_max=1

In [219]:
# normal=np.zeros
# for i in nor_rain:
#     i=